<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
     <link rel="stylesheet" href="">
     <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
    <header>
        <div th:replace="fragments/nav.html"></div>
    </header>
    <main>
        <div class="container-fluid flex-row d-flex mb1 d-flex">
            <div class=""><p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ratione vero voluptatibus ex explicabo nostrum neque est nihil. Corrupti, doloribus ducimus. Repellendus corrupti recusandae fugiat tempora iure alias voluptatibus? Perferendis.
            Nisi totam deleniti impedit, ipsum, sit quae minima pariatur eum optio ratione laboriosam! Non ut harum natus ipsa ipsam, delectus reiciendis voluptatum, quis animi perferendis molestiae quae, eos minima repudiandae.
            Quidem sequi dolorem commodi temporibus quis hic veritatis soluta, voluptatum quisquam, nesciunt mollitia eligendi recusandae. Dolores incidunt ratione neque magni, earum dolore, assumenda laudantium porro, odio dicta eius atque! Ab.
            Distinctio aperiam iusto voluptatum unde assumenda molestias veniam. Illum quis voluptatum perferendis unde qui, eius doloribus? Commodi iure corporis cupiditate accusamus maxime eius aspernatur id vero? Quam blanditiis a voluptatem?</p></div>
            <div class=""><p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio modi rerum, dicta praesentium tempore repellendus nesciunt rem error magni doloremque necessitatibus nobis consequatur mollitia ratione quis amet, possimus sunt reprehenderit!
            Repudiandae animi temporibus facilis eius officia totam iste tenetur dolores illo distinctio obcaecati eveniet quisquam consequuntur, placeat magni alias modi, quibusdam autem quasi deserunt. In impedit explicabo sequi sint aliquam.
            Cum sed eos necessitatibus optio eaque ipsum possimus harum. Iste illo facere voluptates tempore dicta, consectetur ipsum. Saepe dicta unde, deserunt soluta aliquid distinctio iste quasi beatae praesentium nam in?
            Iste dolore, in voluptates neque obcaecati nihil a molestiae fugit aliquid suscipit nam commodi expedita ipsa quasi qui. Maxime, inventore. Dolorum temporibus commodi molestiae rem modi, necessitatibus reiciendis. Quibusdam, consequatur.</p></div>
            <div class=""><p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, doloribus hic! Doloribus pariatur, incidunt rem ipsa, quia ab vero quisquam illum dolor quae tenetur in dolorum tempora hic voluptas ex?
            Assumenda perspiciatis et aliquid qui explicabo quasi mollitia dolorem nihil provident, laudantium dicta id cupiditate obcaecati itaque quam, perferendis, cumque amet. Saepe autem rem, quaerat impedit distinctio itaque aspernatur perspiciatis.
            Voluptatum excepturi fugiat, aliquid labore dicta provident commodi praesentium molestiae debitis sequi cumque omnis enim beatae officia minus ut iure vel laudantium. Veritatis odit laudantium, dolore nulla magni mollitia corporis.
            Nihil adipisci inventore labore itaque quis sequi, voluptatibus est aspernatur, earum exercitationem quibusdam perferendis porro fuga eligendi, animi molestias totam! Totam a magni at sit nemo perferendis aliquam deleniti facere?</p></div>
        </div>
    </main>
    <div th:replace="fragments/footer :: footer">

    </div>
</body>
</html>